@using System.Data
@model System.Data.DataTable
@{
    ViewBag.Title = "ShowRecord";
}

<h2>ShowRecord</h2>
<table class="table">
    <tr>
        <th>
            類別
        </th>
        <th>
            姓名
        </th>
        <th>
            內容
        </th>
        <th>
            填寫日期
        </th>
        <th>
            回覆內容
        </th>
        <th>
            回覆時間
        </th>
    </tr>
    @foreach (DataRow row in Model.Rows)
    {
        <tr>
             @if ((int)row["AssistClass"] == 0)
            {
                <td>感情</td>
            }
            @if ((int)row["AssistClass"] == 1)
            {
                <td>工作</td>
            }
            @if ((int)row["AssistClass"] == 2)
            {
                <td>新生</td>
            }
              <td>
                @ViewBag.name
            </td>
            <td>
                @row["Student_content"]
            </td>
            <td>
                @row["Student_requestTime"]
            </td>
             <td>
                @row["Socialworker_content"]
            </td>
            <td>
                @row["Socialworker_requestTime"]
            </td>
            <td>
                @Html.ActionLink("編輯", "Edit", new { id = row["Case_Id"] })
            </td>
        </tr>
    }
</table>
